In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy.spatial import distance
filename = "datasets/heart.csv"
dataset = pd.read_csv(filename, dtype=np.float64)

In [2]:
pd.DataFrame(dataset.values)

       0    1    2     3    4    5     6    7     8    9    10   11   12
0    32.0  1.0  1.0   6.0  1.0  2.0   7.0  2.0  20.0  2.0  1.0  1.0  2.0
1    34.0  1.0  4.0   9.0  1.0  1.0  29.0  2.0   2.0  2.0  1.0  1.0  2.0
2    35.0  1.0  4.0   1.0  1.0  2.0   9.0  3.0   1.0  1.0  1.0  4.0  4.0
3    36.0  1.0  4.0   8.0  1.0  2.0   5.0  3.0  16.0  3.0  1.0  3.0  2.0
4    38.0  0.0  4.0   7.0  1.0  2.0  35.0  2.0  10.0  2.0  1.0  1.0  3.0
..    ...  ...  ...   ...  ...  ...   ...  ...   ...  ...  ...  ...  ...
118  70.0  1.0  4.0   9.0  2.0  3.0  55.0  3.0   4.0  3.0  1.0  4.0  2.0
119  70.0  1.0  4.0  12.0  3.0  2.0  32.0  3.0  35.0  3.0  1.0  4.0  4.0
120  72.0  1.0  3.0  18.0  1.0  4.0  12.0  2.0  32.0  3.0  3.0  1.0  1.0
121  73.0  0.0  3.0  18.0  2.0  3.0  67.0  2.0   4.0  2.0  1.0  2.0  2.0
122  74.0  1.0  2.0  15.0  1.0  3.0   2.0  2.0  30.0  2.0  1.0  1.0  2.0

[123 rows x 13 columns]

In [3]:
def minmax(dataset):
    minmax = list()
    for i in range(len(dataset[0])):
        if i == len(dataset[0]) - 1:
            continue
        value_min = dataset[:, i].min()
        value_max = dataset[:, i].max()
        minmax.append([value_min, value_max])
    return minmax

In [4]:
def normalize(dataset, min_max):
    for row in dataset:
        for i in range(len(row)):
            if i == len(row) - 1:  # exclude labels
                continue
            dif = min_max[i][1] - min_max[i][0]
            row[i] = ((row[i] - min_max[i][0]) / dif) if dif != 0 else 0

    return dataset

In [5]:
def draw_plot(dataset, feature1N, feature2N, target):
    iris_type_to_color = {
        1.0 : "g",
        2.0 : "b",
        3.0 : "y",
        4.0 : "",
        5.0 : ""
    }

    colored_irises = list(map(lambda x: iris_type_to_color[x], dataset[:, -1]))
    colored_irises.append("r")

    x = list(dataset[:, feature1N])
    y = list(dataset[:, feature2N])

    x.append(target[feature1N])
    y.append(target[feature2N])

    plt.scatter(x, y, c=colored_irises)
    plt.show()

In [6]:
min_max = minmax(dataset.values)
normalized_dataset_values = normalize(dataset.values, min_max)
pd.DataFrame(normalized_dataset_values)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.000000,1.0,0.000000,0.25,0.0,0.333333,0.089552,0.5,0.542857,0.333333,0.0,0.000000,2.0
1,0.047619,1.0,1.000000,0.40,0.0,0.000000,0.417910,0.5,0.028571,0.333333,0.0,0.000000,2.0
2,0.071429,1.0,1.000000,0.00,0.0,0.333333,0.119403,1.0,0.000000,0.000000,0.0,1.000000,4.0
3,0.095238,1.0,1.000000,0.35,0.0,0.333333,0.059701,1.0,0.428571,0.666667,0.0,0.666667,2.0
4,0.142857,0.0,1.000000,0.30,0.0,0.333333,0.507463,0.5,0.257143,0.333333,0.0,0.000000,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,0.904762,1.0,1.000000,0.40,0.5,0.666667,0.805970,1.0,0.085714,0.666667,0.0,1.000000,2.0
119,0.904762,1.0,1.000000,0.55,1.0,0.333333,0.462687,1.0,0.971429,0.666667,0.0,1.000000,4.0
120,0.952381,1.0,0.666667,0.85,0.0,1.000000,0.164179,0.5,0.885714,0.666667,1.0,0.000000,1.0
121,0.976190,0.0,0.666667,0.85,0.5,0.666667,0.985075,0.5,0.085714,0.333333,0.0,0.333333,2.0
122,1.000000,1.0,0.333333,0.70,0.0,0.666667,0.014925,0.5,0.828571,0.333333,0.0,0.000000,2.0

In [7]:
def epanechnikov(u):
    return 3 * (1 - pow(u, 2)) / 4 if u < 1 else 0

In [8]:
LENGTH = distance.euclidean
KERNEL = epanechnikov
H = 70

In [9]:
def NWreg(dataset, x):
    up = 0
    gr = 0
    for row in dataset:
        if (x==row[:-1]).all():
            print(LENGTH(row[:-1], x))
        up += row[-1] * KERNEL(LENGTH(row[:-1], x) / H)
        gr += KERNEL(LENGTH(row[:-1], x)/H)
    return up / gr if gr != 0 else 0

In [10]:
x = [0.071429, 1.0, 1.0, 0.00, 0.0, 0.333333, 0.119403, 1.0, 0.000000, 0.000000, 0.0, 1.000000]
x1 = [47, 1, 3, 17, 2, 2, 45, 3, 16, 3, 1, 2]

In [11]:
NWreg(normalized_dataset_values, x)

2.8049093900705357

In [12]:
LENGTH(x, x1)

69.190581310373